.pro__1 {
  flex-direction: row;
  gap: 1vmax;
  height: 30vmax;
  padding: 1.2rem;
}
.pro {
  background-color: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}
.pro__img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: auto;
  overflow: hidden;
  width: 60%;
}
.pro__img img {
  height: auto;
  width: 100%;
  transform: translateY(0%);
  transition: transform 3s ease-in-out 0s;
}
.pro__img img:hover {
  transform: translateY(-52%);
}
.pro__text {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 40%;
  padding: 0 2vmax;
}
.pro__text h3 {
  color: #2d2e32;
  font-size: 1.8vmax;
  margin-bottom: 2vmax;
  position: relative;
  text-transform: uppercase;
}
.pro__text p {
  color: #767676;
  font-size: 1.2vmax;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}
.pro__links,
.pro__links a {
  align-items: center;
  display: flex;
}
.pro__links a {
  color: #2d2e32;
  font-size: 1.5vmax;
  font-weight: 500;
  gap: 5px;
  text-decoration: none;
}
.pro__links {
  justify-content: space-evenly;
  margin-top: 2.5vmax;
}
@media only screen and (max-width: 900px) {
  .pro__1 {
    flex-direction: column !important;
    gap: 8vmax;
    height: 70vmax;
    margin: 0 auto;
    width: 100%;
  }
  .projects-grid {
    gap: 20vmax;
  }
  .pro {
    align-items: center;
  }
  .pro__img {
    width: 90%;
  }
  .pro__text {
    width: 90%;
  }
  .pro__text p {
    font-size: 1.9vmax;
  }
  .pro__text h3 {
    font-size: 2.5vmax;
  }
  .pro__links a {
    font-size: 2.2vmax;
  }
  .pro__links {
    gap: 3vmax;
  }
}
